body{
    background: url(https://previews.123rf.com/images/pohodka/pohodka1807/pohodka180700037/108184654-raindrops-on-the-glass-and-storm-clouds-in-the-background-rainy-weather-forecast.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}
.weather-box{
    border: 1px solid rgba(214, 214, 214, 0.7);
    padding: 5%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.88);
}
.weather-box > div:first-child{
    font-weight: 700;
    color: rgb(164, 238, 254);
}


.pt2{padding-top: 2%;}
.pb5{padding-bottom: 5%;}